---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";
/* 最终全局字体设置： Times New Roman 优先，楷体辅助 */

/* 定义一个变量来存储您的字体栈，方便管理 */
$custom-font-stack: "Times New Roman", Times, 
                     "KaiTi", "楷体", "STKaiti", "华文楷体", DFKaiShu-SB, 
                     serif !important; 

/* 默认将字体应用到所有元素，但排除图标 */
body,
.page__content,
.page__content p, 
.page__content li, 
h1, h2, h3, h4, h5, h6, 
.masthead,         
.masthead__title,  
.nav__list-item a, 
.masthead__menu-item a,
.sidebar *,         
.author__content, 
.page__footer,
.footer_site,
.footer_copyright,
.footer_site span 
{
    font-family: $custom-font-stack; 
    font-size: 0.9em !important; 
}

/* 显式重置所有图标集（Font Awesome 和 Academicons）的字体 */

/* 1. 重置 Font Awesome 图标 */
.fa, .fas, .far, .fal, .fab, .svg-inline--fa { 
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands', 'Font Awesome 5 Solid', FontAwesome, sans-serif !important;
}

/* 2. 重置 Academicons 图标 (解决 Web of Science 和 ORCID 图标消失的问题) */
.ai, .ai-fw, .ai-pubmed-square, .ai-clarivate, .ai-orcid-square, .ai-dblp {
    font-family: "Academicons" !important;
}

/* 3. 确保侧边栏内的所有图标都被正确重置 */
.sidebar .fa, .sidebar .fab, .sidebar .fas, .sidebar .ai {
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands', 'Font Awesome 5 Solid', FontAwesome, Academicons, sans-serif !important;
}
.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;

}















