---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";
/* 强制覆盖所有字体设置，包括最顽固的页脚和侧边栏内容 */
body,

/* 覆盖所有头部和导航元素 */
.masthead,         
.masthead__title, 
.nav__list-item a {
    font-family: "Times New Roman", Times, 
                 "KaiTi", "楷体", "STKaiti", "华文楷体", DFKaiShu-SB, 
                 serif !important;
}

/* 覆盖所有主要内容和标题 */
.page__content,
.page__content p, 
.page__content li, 
h1, h2, h3, h4, h5, h6, 

/* 针对侧边栏使用通配符，覆盖内部所有元素 */
.sidebar *,

/* 针对底部版权信息和访问量计数器 */
.footer_site,
.footer_copyright,
.footer_site span 
{
    font-family: "Times New Roman", Times, 
                 "KaiTi", "楷体", "STKaiti", "华文楷体", DFKaiShu-SB, 
                 serif !important; 
}
.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;

}








